$col1: #2D3142
$col2: #4F5D75
$col3: #BFC0C0
$col4: #FFFFFF
$col5: #EF8354
$col6: #94F564
$col7: #F55756

$inp-width: 150
$inp-height: 25

*
    padding: 0
    margin: 0

body
    background: $col1

main
    background: $col5
    border: 2px solid $col2
    position: relative
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)

    h2, p, label
        color: $col3

    form
        width: fit-content
        position: relative
        left: 50%
        transform: translateX(-50%)

h1
    text-align: center
    color: $col4

input
    width: $inp-width
    height: $inp-height

#pass
    background-color: #22222280
    color: $col4
    text-align: center

#copy
    visibility: hidden

#copy, #pass
    margin: 10px

.notification
    display: inline
    width: max-content
    padding: 3px
    border-radius: 3px

.notification::before
    content: '';
    position: absolute
    width: 15px
    height: 15px
    transform: translateX(-50%) translateY(90%) rotate(45deg)
    z-index: -1

.correct, .correct::before
    background-color: $col6


.error, .error::before
    background-color: $col7
